{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Registration{% endblock title %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                  </button>
                    <strong>{{ message|escape }}</strong>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                        </button>
                        <strong>{{ error|escape }}</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Sign in</h4>
        <p class="card-category">with your credentials</p>
      </div>
      <div class="card-body">
      <hr/>
        <form method="POST">
        {% csrf_token %}
          <div class="row justify-content-center">
            <i class="fa fa-github fa-5x"></i> 
            <i class="fa fa-google fa-5x mx-5" ></i> 
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Username</label>
                {% render_field form.username class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Email address</label>
                {% render_field form.email class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Password</label>
                {% render_field form.password1 class="form-control" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Password Confirmation</label>
                {% render_field form.password2 class="form-control" %}
              </div>
            </div>
          </div>
          <div class="tim-typo">
            <p class="text-danger">Do you have an account already? <a href="{% url 'login' %}">Log in</a></p>
          </div>
          <button type="submit" class="btn btn-danger pull-right">Create Account</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 3000);
</script>
{% endblock content %}
