{% extends 'base.html' %}
{% load  widget_tweaks %}
{% block title %} Create Password {% endblock title %}
{% block content %}
{% include 'header.html' %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Create New Password</h4>
        <p class="card-category">Strong Password, Strong Human </p>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="form-group mt-5">
                <label for="passwordSizeLabel" class="text-warning">Password Length</label>
                {% render_field form.passwordLength class="selectpicker form-control form-select my-3" data-style="btn btn-danger"%}
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="form-check">
                <label class="form-check-label mx-3">
                  {% render_field form.has_letters class="form-check-input"|attr:"checked"%}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  <p class="text-warning">{{form.has_letters.label}}</p>
                </label>

                <label class="form-check-label mx-3">
                  {% render_field form.has_mixed_case class="form-check-input" %}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  <p class="text-warning">{{form.has_mixed_case.label}}</p>
                </label>

                <label class="form-check-label mx-3">
                  {% render_field form.has_panctuation class="form-check-input" %}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  <p class="text-warning">{{form.has_panctuation.label}}</p>
                </label>

                <label class="form-check-label mx-3">
                  {% render_field form.has_numbers class="form-check-input" %}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  <p class="text-warning">{{form.has_numbers.label}}</p>
                </label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger pull-right">Generate</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if password %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Here you go</h4>
        <p class="card-category">Your password was created</p>
      </div>

      <div class="card-body">
        <div class="input-group mb-3">
          <input class="form-control mb-2" id="password" type="text" value="{{password}}"
            onkeyup="isGood(this.value)" style="font-size : 32px; height : 5rem;">
          <div class="input-group-append">
            <form method="POST" id="passForm" action="/save-password/">
              {% csrf_token %}
              <button type="submit" name="passwd" value="{{password}}" form="passForm"
                class="btn bg-transparent btn-outline-warning" style="height : 80px;"><span class="material-icons"
                  style="font-size:35px;">add_circle</span></button>
            </form>
            <button class="btn bg-transparent btn-outline-danger" id="copyBtn" data-clipboard-target="createdPassword"
              data-container="body" data-toggle="popover" data-placement="top" data-content="Copied"><i
                class="fa fa-copy" style="font-size:30px;"></i></button>
          </div>
        </div>
        <small class="help-block" id="password-text"></small>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("copyBtn")
    .onclick = function () {
      let text = document.getElementById("password").value;
      navigator.clipboard.writeText(text)
      $('[data-toggle="popover"]').popover({
        placement: 'bottom',
        delay: {
          hide: 5000 // doesn't do anything
        }
      }).on('shown.bs.popover', function () {
        setTimeout(function (a) {
          a.popover('hide');
        }, 3000, $(this));
      });
    }
</script>
<script>
function isGood(password) {
      var password_strength = document.getElementById("password-text");

      //TextBox left blank.
      if (password.length == 0) {
        password_strength.innerHTML = "";
        return;
      }

      //Regular Expressions.
      var regex = new Array();
      regex.push("[A-Z]"); //Uppercase Alphabet.
      regex.push("[a-z]"); //Lowercase Alphabet.
      regex.push("[0-9]"); //Digit.
      regex.push("[$@$!%*#?&]"); //Special Character.
      var value = $("#password").val();
      var passed = 0;

      //Validate for each Regular Expression.
      for (var i = 0; i < regex.length; i++) {
        if (new RegExp(regex[i]).test(value)) {
          passed++;
        }
      }

      //Display status.
      var strength = "";
      switch (passed) {
        case 0:
        case 1:
        case 2:
          strength = "<small class='progress-bar progress-bar-striped progress-bar-animated bg-danger' style='width: 40%'>Weak</small>";
          break;
        case 3:
          strength = "<small class='progress-bar progress-bar-striped progress-bar-animated bg-warning' style='width: 60%'>Medium</small>";
          break;
        case 4:
          strength = "<small class='progress-bar progress-bar-striped progress-bar-animated bg-success' style='width: 100%'>Strong</small>";
          break;

      }
      password_strength.innerHTML = strength;

    }
</script>
{% endif %}
{% endblock content %}