{% extends 'base.html' %}
{% block title %}Delete Item{% endblock title %}
{% block content %}
{% include 'header.html' %}
<div class="row justify-conten-end">
    <div class="col-xl-4 col-lg-8 col-md-8 col-sm-8">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Are you sure want to delete this {{object.password}}?</p>
                <form method="POST" class="mt-3">
                    {% csrf_token %}
                    <button type="submit" rel="tooltip" title="Delete" class="btn btn-white btn-link btn-sm">
                        <i class="material-icons">check</i>
                    </button>
                    <a href="#" rel="tooltip" title="Cancel" class="btn btn-white btn-link btn-sm">
                        <i class="material-icons">cancel</i>
                    </a>
                </form>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> {{object.retired_date}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}