{% extends 'base.html' %}
{% block title %}Search.. {% endblock title %}
{% block content %}
{% include 'header.html' %}
<div class="row justify-content-center">
    {% if object %}
        <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">password</i>
                    </div>
                    <p class="card-category"><h4>{{object.used_for_website | urlize}}</h4></p>
                    <h3 class="card-title">{{object.password}}</h3>
                </div>
                <div class="card-body justify-content-end">
                    <div class="row justify-content-end">
                    {{object.explanation }}
                    </div>
                    <a href="/update/{{object.id}}/" class="btn btn-white btn-link btn-sm" rel="tooltip" title="Edit Task"><i
                            class="material-icons">edit</i></a>
                    <a href="/delete/{{object.id}}/" class="btn btn-white btn-link btn-sm" rel="tooltip" title="Remove"><i
                            class="material-icons">close</i></a>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i>{{object.created_date}}
                    </div>
                    <div class="stats">
                        <i class="material-icons">date_range</i>{{object.retired_date}}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}