{% extends 'base.html' %}
{% block title %}Search.. {% endblock title %}
{% block content %}
{% include 'header.html' %}
<div class="row">
    {% if page_obj %}
    {% for x in page_obj  %}
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">password</i>
                </div>
                <p class="card-category">{{x.used_for_website | urlize}}</p>
                <h3 class="card-title">{{x.password|truncatechars:10}}</h3>
            </div>
            <div class="card-body justify-content-end">
                <a href="/{{x.id}}/" class="btn btn-white btn-link btn-sm" rel="tooltip" title="Detail"><i
                        class="material-icons">remove_red_eye</i></a>
                <a href="/update/{{x.id}}/" class="btn btn-white btn-link btn-sm" rel="tooltip" title="Edit Task"><i
                        class="material-icons">edit</i></a>
                <a href="/delete/{{x.id}}/" class="btn btn-white btn-link btn-sm" rel="tooltip" title="Remove"><i
                        class="material-icons">close</i></a>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i>{{x.created_date}}
                </div>
                <div class="stats">
                    <i class="material-icons">date_range</i>{{x.retired_date}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="tim-typo">
        <h2>
            <span class="tim-note">Not Found</span>
            <br>
            <small>There is no record such that word.</small>
        </h2>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-7 mx-auto mt-4">
        {% if page_obj.has_other_pages %}
        <nav aria-label="Pagination for table">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active page-item mx-2"><span class="page-link">{{ i }} <span
                            class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}