{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Update Item{% endblock title %}
{% block content %}
{% include 'header.html' %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Save Your Password Here</h4>
                <p class="card-category">Fill these fields</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <div class="input-group-append">
                                    <label class="bmd-label-floating">{{form.password.label}}</label>
                                    {% render_field form.password value=passwd class="form-control" id="id_password"%}
                                    <i class="fa fa-eye" id="togglePassword"
                                        style="margin-left: -30px; cursor: pointer;"></i>
                                </div>

                            </div>
                        </div>
                        <script type="text/javascript">
                            const togglePassword = document.querySelector('#togglePassword');
                            const password = document.querySelector('#id_password');
                            togglePassword.addEventListener('click', function (e) {
                                // toggle the type attribute
                                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                                password.setAttribute('type', type);
                                // toggle the eye slash icon
                                this.classList.toggle('fa-eye-slash');
                            });
                        </script>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">{{form.used_for_website.label}}</label>
                                {% render_field form.used_for_website class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">{{form.retired_date.label}}</label>
                                {% render_field form.retired_date class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{{form.explanation.label}}</label>
                                    {% render_field form.explanation class="form-control" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}